.heading{
    font-size: 25px;
    font-family: Roboto;
    font-weight: bold;
    color: #ffdd00;
    position: absolute;
 }
 
.container {
    width: 1080px; 
    height: 1920px;
    background-color: #000;
    padding: 20px;
}

.header {
    margin-bottom: 20px;
}

.logo {
    width: 150px;
}

h1 {
    font-size: 5rem;
    color: #ffd700;
    margin: 10px 100px;
    text-align: center;
}

.rates {
    margin: 2rem 2rem;
}

.country {
    margin-bottom: 20px;
}

.country h2 {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 10px;
}

.rate-box {
    background-color: #ffffff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}
.rate-box p{
    font-size:10px ;
}
.rate-box span {
    color: #000000;
    font-weight: bold;
}

.footer {
    margin-top: 20px;
}

.footer p {
    font-size: 0.8rem;
    color: #fff;
}

.disclaimer {
    font-size: 0.7rem;
    color: #888;
}

.country-header {
    display: flex; /* Enables flexbox layout */
    flex-direction: row; /* Aligns items in a row */
    align-items: center; /* Centers items vertically */
}

.flag{
    height: 64px;
    width: 64px;
    font-size: small;
    background-color: #fff;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image covers the entire area */
}